.vue-select {
  position: relative;
  user-select: none;
}
.vue-select.open {
  z-index: 15;
}
.vue-select.open .vue-select--label {
  border-radius: 9px 9px 0 0;
  transition-delay: 0;
}
.vue-select.open .vue-select--label button {
  transform: rotate(0.5turn);
}
.vue-select.open .vue-select--options {
  padding-bottom: 9px;
  transition-delay: 200ms;
  max-height: 300px;
}
.vue-select--label {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #333;
  padding-left: 18px;
  transition: border-radius 200ms;
  transition-delay: 100ms;
  height: 36px;
  display: flex;
  align-items: center;
}
.vue-select--label label {
  flex-grow: 1;
}
.vue-select--label button {
  background: none !important;
  transition: transform 200ms;

  width: 50px;
  height: 100%;
}
.vue-select--options {
  background: linear-gradient(rgba(0,0,0,0.05), transparent 20px) #fff;
  border-radius: 0 0 9px 9px;
  color: #333;
  overflow: auto;
  transition: max-height, padding;
  transition-duration: 100ms;
  width: 100%;
  max-height: 0;
  position: absolute;
}
.vue-select--options li {
  font-size: 0.9em;
  list-style: none;
  padding: 8px 18px;
}
.vue-select--options li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.04);
}
.vue-select--options li:hover {
  background: rgba(0,0,0,0.1);
  border-color: transparent;
}
.vue-select--options li.selected {
  background: linear-gradient(transparent, rgba(0,0,0,0.1)) #1e90ff;
  color: #fff;
}
